.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    line-height: 1;
    padding: 0.875rem 1.5rem;
    font-weight: $semibold;
    line-height: 1;
    height: 2.375rem;
}

.btn--primary {
    background: $color-primary;
    color: $white--true;
    border: none;
    outline: none;
    border-radius: $input-radius;
}

.btn--ghost {
    background: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;
    outline: none;
}

.btn--disabled {
    background: rgba($color-primary, 0.5);
    color: $white--true;
    border: none;
    outline: none;
    border-radius: $input-radius;
}

.btn--rounded {
    border-radius: 1.25rem;
}

.btn--margin {
    margin-right: 0.625rem;
}

.btn--remove {
    margin-left: auto;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
	font-size: 0.75rem;
	color: $black;
    opacity: 0;
	transition: $transition-time;
	opacity: 0.4;
	visibility: hidden;

	svg path {
		transition: $transition-time;
	}

	&:hover {
		opacity: 1;
		svg path {
			stroke: $color-alert;
		}
	}
}

.btn--add-field {
    height: $input-height;
    margin-bottom: 1.25rem;
    border: $border--gray-lighter;
    border-radius: $input-radius;
    //overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
	transition: $transition-time;
	font-size: 0.875rem;
	color: rgba($black, 0.36);
	background: transparent;
	width: 100%;

	&:hover {
		border-color: rgba($color-primary, 0.5);
	}
}
