.editor {
	display: flex;
	grid-gap: $gutter;
	height: 100%;
	padding-top: 2.5rem;
	padding-left: 8.625rem;
	padding-right: 3.375rem;

	> section {
		padding-top: $gutter;
	}

	> section {
		width: 100%;
	}

}

.editor__header {
	padding-bottom: $gutter;
	margin-bottom: $gutter;
	display: flex;
	align-items: center;
	justify-content: space-between;
}



 
//Added by levara 
.editor-wrapper {
	display: flex;
	grid-gap: $gutter;
	height: 100%;
	padding-top: 8.5rem;
	padding-left: 8.625rem;
	padding-right: 3.375rem;
  width: 100%;

	> section {
		padding-top: $gutter;
	}

	> section {
		width: 100%;
	}

}
