.item {
    margin-bottom: 0.625rem;
    border: $border--gray-lighter;
    border-radius: $input-radius;
    //overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: $transition-time;

    &:hover {
        border-color: rgba($color-primary, 0.5);

        .btn--remove--main {
            opacity: 0.4;
            visibility: visible;
        }
    }

    &--active {
        &:hover {
            border-color: $color-primary;

            .btn--remove--main {
                opacity: 0.85;
            }
        }

        .btn--remove--main {
            opacity: 0.85;
            visibility: visible;
        }
    }

    &--remove {
        border-color: $color-alert;
        color: $color-alert;
    }

    .btn--remove:hover {
        opacity: 1;
    }

    >div {
        height: 100%;
    }
}

.item--entity {
    // height: $input-height;
    min-height: $input-height;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    line-height: 1;
    cursor: pointer;
}

.item--intent {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    transition: $transition-time;

    .item__input {
        pointer-events: none;
    }

    &.item--active {
        .item__input {
            pointer-events: all;
        }
    }

    .item__main {
        width: 100%;
        display: flex;
        position: relative;

        .item__buttons {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 100%;
        }
    }

    .item__input {
        width: 100%;
        position: relative;
    }

    .item__input>div {
        padding: 0.625rem 0.75rem;
        cursor: text;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        word-break: break-word;
        vertical-align: bottom;
        caret-color: #2F74EA;
        height: $input-height;
        line-height: normal;

        &::selection,
        ::-moz-selection,
        ::selection {
            color: $black;
            background: $color-highlight;
        }

        * {
            white-space: inherit;
            word-wrap: inherit;
            word-break: inherit;
            vertical-align: inherit;
            user-select: none;
        }

        >div {
            display: inline-block;
        }

        span {
            padding: 1px;
        }
    }

    .model {
        width: 100%;

        header,
        li {
            display: grid;
            grid-template-columns: repeat(3, 33.3%);
            align-items: center;
            width: 100%;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            position: relative;
        }

        header {
            height: 2rem;
            line-height: 1;
            border-top: 1px solid $color-gray--lighter;
            border-bottom: 1px solid $color-gray--lighter;
            text-transform: uppercase;
            color: $color-gray--light;
            font-size: 0.75rem;
        }

        .btn--remove {
            transform: scale(.85);
        }

        li {
            height: $input-height;

            &:hover {
                .btn--remove {
                    opacity: 0.35;
                    visibility: visible;
                }
            }
        }
    }

    .item__buttons {
        height: 100%;
    }
}

.item--active {
    border: 1px solid $color-primary;
    cursor: default;

    &:hover {
        border: 1px solid $color-primary;
    }
}

.item--padded {
    padding: 0.875rem 0.75rem;
}

.item--edit {
    cursor: default;
    border-color: $color-primary;

    .item__inner {}

    .item__row {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
}

.item__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1;
}

.item__padded-wrapper {
    min-height: $input-height;
    padding: 10px 0.75rem;
    list-style: none;
    width: 100%;
}

.item__buttons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    button {
        border: none;
        height: 100%;
        background: transparent;
        width: 2.375rem;
        padding: 0;
        padding: 0.625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.item__values {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.625rem 0;
    display: flex;
    flex-wrap: wrap;

    >.synonym {
        margin-right: 0.25rem;
    }
}

.synonym {
    padding: 0.25rem;
    border: $input-border;
    border-radius: 0.125rem;
    font-size: 0.875rem;
    position: relative;
    white-space: nowrap;
    line-height: 100%;
    display: flex;
    align-items: center;

    &--edit {
        padding-right: 1.75rem;
    }
}

.synonym__remove {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 0;
    font-size: 0.875rem;
    opacity: 0.5;
    transform: translateY(1px);
    margin-left: 0.125rem;
}

.item__value--primary {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
}

.item__columns {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    width: 100%;
}


.highlight,
mark {
    cursor: pointer;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    text-align: inherit;
    padding: 0 !important;
    margin: 0;
    border: none;
    user-select: none;
    margin: 0 1px;

    &:hover {
        outline: 1px solid $color-primary;
    }
}
