{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ]
  ],
  "plugins": [
    [ "angularjs-annotate", { "explicitOnly": true }], 
    ['@babel/plugin-transform-runtime', { corejs: 2 }]
   ]
}
