.convoworks {
    .json {
        display: flex;
        flex-flow: column nowrap;

        justify-content: flex-start;

        .convo-form-group {
            margin-bottom: .5em;
        }
    }
}