<div class="variables-editor wide-panel card-pane">
    <div class="title">
        <h4>Preview Variables</h4>
        <button type="button" class="btn btn-primary btn-sm" ng-click="addPreviewVariablesPair()">
            <i class="glyphicon glyphicon-plus"></i> Add new variable
        </button>
    </div>
    <div class="variables">
        <!-- DUMMY INPUT -->
        <input type="text" ng-valid="true" style="display: none; pointer-events: none" tabindex="-1">

        <div class="pair convo-form-group" ng-repeat="(index, pair) in preview_variables_buffer track by index">
            <input class="convo-form-input monospace" type="text" ng-model="pair.key">
            <span class="colon">:</span>
            <input class="convo-form-input monospace" type="text" ng-model="pair.value">
            <button class="btn btn-xs remove" ng-click="removePreviewVariablesPair(index)">
                <i class="glyphicon glyphicon-minus"></i>
            </button>
        </div>
    </div>
</div>
