<div class="convo-form-group input-group" ng-class="{'error':error}">
	<label class="convo-form-label m-b-10">{{ propertyDefinition.name }}&nbsp;
		<button class="btn btn-sm btn-primary" ng-click="quickAddIntent()">
			<i class="fa fa-plus"></i> Add new
		</button>
	</label>
	<select class="convo-form-input" ng-model="component.properties[key]">
		<option ng-repeat="intent in intents track by intent.name" value="{{ intent.name }}">
			{{ intent.name }}
		</option>
	</select>
	<!-- <input type="text" ng-model="component.properties[key]" id="main-intent-input" class="convo-form-input"
		uib-typeahead="intent.name for intent in intents | filter:$viewValue"
		typeahead-show-hint="true" typeahead-min-length="0"> -->
	<small class="form-text text-muted">{{propertyDefinition.description}}</small>
</div>