<div class="convo-form-group">
    <label class="convo-form-label">
        {{ definition.component_properties[key].name }}
        &nbsp;
		<button class="btn btn-sm btn-primary" ng-click="quickAddChildIntent()">
			<i class="fa fa-plus"></i> Add new delegate intent
		</button>
    </label>
    <select class="convo-form-input" required ng-model="component.properties[key]">
        <option
            ng-repeat="name in childIntents track by name"
            value="{{ name }}">
            {{ name }}
        </option>
    </select>
    <small class="form-text text-muted">{{ definition.component_properties[key].description }}</small>
</div>