<div ng-if="(intent_slots | keys).length > 0">
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Slot name</th>
                <th>Slot type</th>
                <th>Required? <input type="checkbox" title="{{ getSelectAllTitle() }}" ng-click="toggleAllSlotsRequired()" ng-checked="areAllRequired()"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(name, data) in intent_slots track by $index">
                <td style="font-family: monospace">{{ name }}</td>
                <td style="font-family: monospace">{{ data.type }}</td>
                <td><input type="checkbox" ng-model="intent_slots[name].required" ng-checked="isSlotRequired(name)"></td>
            </tr>
        </tbody>
    </table>
</div>