<div class="group card-pane">
    <h3>
        Service entities
        &nbsp;
        <a class="btn btn-primary btn-sm" ui-sref="convoworks-editor-service.entity-new">
            <i class="fa fa-plus"></i> Add Entity
        </a>
    </h3>
    <div class="convo-details">
        <section class="intents-entities-list">
            <div class="grid-item" ng-repeat="entity in entities track by $index">
                <a class="grid-item-main" 
                    ui-sref="convoworks-editor-service.entity-details( { index: $index} )">
                    {{ entity.name }}
                </a>
                <div class="grid-item-buttons">
                    <button type="button" ng-click="deleteEntity($event, $index)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                            <g fill="none" fill-rule="evenodd" stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M2.4 6.5v7c0 1.105.835 2 1.867 2h7.466c1.032 0 1.867-.895 1.867-2v-7M1.467 3.5h13.066M6.133 3.5v-3h3.734v3M8 7.5v5M10.8 7.5v5M5.2 7.5v5">
                                </path>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>
