.convoworks {


    .toggled-indicator {
        content: " ";
        height: 20px;
        width: 36px;
        border-radius: 12px;
        padding: 2px;
    
        position: relative;
    
        display: inline-block;
    
        &:hover {
            cursor: pointer;
        }
    }
    
    .toggled-indicator.inactive {
        background-color: #bababa;

        &.disabled {
            background-color: #7e7e7e;
        }
    }
    
    .toggled-indicator.active {
        background-color: #2F74EA;

        &.disabled {
            background-color: #375b99;
        }
    }
    
    .toggled-indicator:after {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        background-color: #FFFFFF;
        border-radius: 50%;
    
        transition: transform 100ms ease-out;
    }

    .toggled-indicator.disabled {
        &:after {
            background-color: #acacac;
        }
        &:hover {
            cursor: not-allowed;
        }
    }
    
    .toggled-indicator.active:after {
        transform: translateX(100%);
    }
    
    .toggled-indicator.inactive:after {
        transform: translateX(0%);
    }
    
    input:focus,
    button:focus
    {
        outline: none !important;
    }
    
    input.copy:hover {
        cursor: copy;
    }

    .expandable-textarea {
        border: 1px solid #ccc;
        font-family: inherit;
        font-size: inherit;
        padding: 1px 6px;
      
        display: block;
        width: 100%;
        overflow: hidden;
        resize: both;
        min-height: 40px;
        line-height: 20px;
      }

    .convo-form-group {
        font-family: "DM Sans", sans-serif;
    
        margin-bottom: 20px;
    }
    
    .convo-form-group.inline input,
    .convo-form-group.inline button
    {
        display: inline;
    }
    
    .convo-form-group label.convo-form-label {
        min-height: 18px;
        color: rgba(0,0,0,0.63);
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 18px;
    
        display: block;
    }
    
    .convo-form-group label.convo-form-label.inline {
        display: inline-block;
    }
    
    .convo-form-group label.convo-form-label i {
        color: rgba(47,116,234,0.5);
    }
    
    .convo-form-group .convo-form-input {
        border: 1px solid rgba(0,0,0,0.08);
        border-radius: 8px;
        width: 100%;
        max-width: inherit;
    
        padding: 6px 11px;
    
        transition: border-color 100ms ease-in-out;
    }
    
    .convo-form-group .convo-form-input[type="file"] {
        border: 2px dashed rgba(0,0,0,0.1);
    }
    
    .convo-form-group .convo-form-input[type="checkbox"] {
        display: inline;
    
    }
    
    .convo-form-group input.convo-form-input {
        height: 40px;
    }
    
    .convo-form-group .radio-group {
        display: inline-block;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .convo-form-group .radio-group:first-child {
        margin-left: 0;
    }
    
    .convo-form-group .radio-group:last-child {
        margin-right: 0;
    }
    
    .convo-form-group .convo-form-input:focus {
        border: 2px solid #2F74EA;
    }
    
    .convo-button-group,
    .convo-form-group .button-group
    {
        display: flex;
        flex-flow: row nowrap;
    
        align-items: center;
    }
    
    .convo-form-group .button-group {
        margin-top: 30px;
    }
    
    /* BUTTON GENERAL */
    button {
        &:active, &:focus {
            box-shadow: none;
        }

        &:active:focus {
            box-shadow: none;
        }
    }
    
    button.btn,
    a.btn
    {
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
    
        transition: background-color 50ms ease-in, border-color 50ms ease-in;
    }
    
    button.btn.no-border-radius,
    a.btn.no-border-radius
    {
        border-radius: 0;
    }
    
    button.btn.border-radius-8,
    a.btn.border-radius-8
    {
        border-radius: 8px;
    }
    
    button.btn.dropdown-toggle.border-radius-8,
    a.btn.dropdown-toggle.border-radius-8
    {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    /* BUTTON SIZES */
    
    button.btn.btn-md,
    a.btn.btn-md
    {
        height: 40px;
        min-width: 103px;
        line-height: 26px;
    }
    
    button.btn.btn-sm,
    a.btn.btn-sm
    {
        /* height: 34px;
        min-width: 83px; */
    }
    
    button.btn.btn-xs,
    a.btn.btn-xs
    {
        /* height: auto;
        width: auto;
        font-size: 13px; */
    }
    
    /* BUTTON TYPES */
    
    /*PRIMARY*/
    // button.btn.btn-primary,
    // a.btn.btn-primary
    // {
    //     background-color: #2F74EA;
    //     color: #FFFFFF;
    // }
    
    // button.btn.btn-primary:hover,
    // a.btn.btn-primary:hover
    // {
    //     border-color: #6593e0;
    //     background-color: #6593e0;
    // }
    
    // button.btn.btn-primary:active,
    // a.btn.btn-primary:active
    // {
    //     border-color: #1354cd;
    //     background-color: #1354cd;
    // }
    /*PRIMARY END*/
    
    /*PRIMARY INVERTED*/
    // button.btn.btn-primary.inverted,
    // a.btn.btn-primary.inverted
    // {
    //     border: 2px solid #2F74EA;
    //     color: #2F74EA;
    //     background-color: white;
    // }
    
    // button.btn.btn-primary.inverted:hover,
    // a.btn.btn-primary.inverted:hover
    // {
    //     color: white;
    //     border-color: #6593e0;
    //     background-color: #6593e0;
    // }
    
    // button.btn.btn-primary.inverted:active,
    // a.btn.btn-primary.inverted:active
    // {
    //     color: #f1f1f1;
    //     border-color: #1354cd;
    //     background-color: #1354cd;
    // }
    /*PRIMARY INVERTED END*/
    
    /*DANGER*/
    // button.btn.btn-danger,
    // a.btn.btn-danger
    // {
    //     background-color: #ea2f2f;
    //     color: #FFFFFF;
    // }
    
    // button.btn.btn-danger:hover,
    // a.btn.btn-danger:hover
    // {
    //     border-color: #ea5858;
    //     background-color: #ea5858;
    // }
    
    // button.btn.btn-danger:active,
    // a.btn.btn-danger:active
    // {
    //     border-color: #d41313;
    //     background-color: #d41313;
    // }
    /*DANGER END*/
    
    /*MUTED*/
    button.btn.btn-muted,
    a.btn.btn-muted
    {
        background-color: #ffffff;
        color: rgba(0,0,0,0.5);
    }
    
    button.btn.btn-muted.bordered,
    a.btn.btn-muted.bordered
    {
        border: 1px solid rgba(187, 187, 187, 0.5);
    }
    
    button.btn.btn-muted:hover,
    a.btn.btn-muted:hover
    {
        /*border-color: rgba(0,0,0,0.5);*/
        background-color: #fcfcfc;
    }
    
    button.btn.btn-muted:active,
    a.btn.btn-muted:active
    {
        border-color: #dbdbdb;
        background-color: #d5d5d5;
    }
    /*MUTED END*/
    
    .btn.btn-borderless,
    .btn.btn-borderless:hover,
    .btn.btn-borderless:active
    {
        border: none;
    }
    
    .btn.btn-no-bg,
    .btn.btn-no-bg:hover,
    .btn.btn-no-bg:active
    {
        background-color: transparent !important;
        box-shadow: none;
    }
    
    a.cancel
    {
        height: 18px;
        width: 47px;
        color: rgba(0,0,0,0.5);
        font-size: 14px;
        line-height: 18px;
    
        font-weight: bold;
    
        margin-left: 30px;
    
        border: none;
    }
    
    a.cancel:hover
    {
        cursor: pointer;
        text-decoration: none;
    }
    
    a.cancel[disabled]:hover {
        cursor: not-allowed;
    }
}