/*------------------------------------*\
** GLOBAL
\*------------------------------------*/

html {
	height: 100%;
	width: 100%;
	font-size: calc(16/1920*100vw);
	font-size: 16px;

	@include breakpoint ($large) {
		//font-size: calc(16px + (0.5 * 16) * ((100vw - 1920px) / (2*1920 - 1920)));
	}

	@include breakpoint ($xlarge) {
		//font-size: calc(16px + (0.625 * 16) * ((100vw - 1920px) / (2*1920 - 1920)));
	}

	@include breakpoint ($xxlarge) {
		//font-size: calc(16px + (0.75 * 16) * ((100vw - 1920px) / (2*1920 - 1920)));
	}
}

body {
	box-sizing: border-box;
	//margin-top: 4rem;
	background-color: $white;
	line-height: 1.75;
	height: 100%;

	@include breakpoint($large) {}
}

main {
	height: 100%;
}

ul {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
		list-style: none;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}