a {
	text-decoration: none;
	color: $black;
}

/*------------------------------------*\
** VARIABLES
\*------------------------------------*/

$base-font-family: 'DM Sans',
sans-serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.78;
$base-font-color: $black;

$heading-font-family: 'DM Sans',
sans-serif;

/*------------------------------------*\
** HEADINGS
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-family;
	margin: 0;
	padding: 0;
	font-weight: $regular;
}

h1 {
	@include font-size($h1-font-sizes);
}

h2 {
	@include font-size($h2-font-sizes);
}

h3 {
	@include font-size($h3-font-sizes);
}

h4 {
	@include font-size($h4-font-sizes);
}

h5 {
	@include font-size($h5-font-sizes);
}

h6 {
	@include font-size($h6-font-sizes);
}

/*------------------------------------*\
** LISTS
\*------------------------------------*/

ul li {
	list-style-type: none;
}

ol li {
	list-style-type: none;
}

.bubble-items {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: -1rem;

	li {
		margin-bottom: 0.75rem;
		margin-right: 0.75rem;

		@include breakpoint($large) {
			margin-bottom: 1rem;
			margin-right: 1rem;
		}
	}
}

.bubble-items__item {
	padding: 0 1rem;
	border-radius: 1rem;
	overflow: hidden;
	background-color: $color-gray--lighter;
	color: rgba(26, 26, 26, 0.7);
	font-size: 0.875rem;
	font-weight: $semibold;
	line-height: 2.29;
	height: 2rem;
}

.spaced-list {
	padding: 0;
	margin: 0;
}

.spaced-list__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	line-height: 2.29;
	font-size: 0.875rem;
	text-align: right;

	@include breakpoint($large) {
		margin-bottom: 0.75rem;
		line-height: 2;
		font-size: 1rem;
	}

	&:nth-last-child(1) {
		margin-bottom: 0;
	}
}

/*------------------------------------*\
** LINKS
\*------------------------------------*/

a {
	text-decoration: none;
}

.link {
	outline-width: 0;
	text-decoration: none;
	color: $color-primary;
	transition: 0.2s;
}

a.link:hover,
a.link:focus,
a.link:active {
	color: lighten($color-primary, 10%);
}

/*------------------------------------*\
** OTHER
\*------------------------------------*/

b,
strong,
.strong {
	font-weight: $bold;
}

p {
	@include font-size($copy-font-sizes);
	font-family: $base-font-family;
	margin-bottom: 1.5rem;
}

/*------------------------------------*\
# FONT SIZES
\*------------------------------------*/

@each $key,
$value in $breakpoints {
	@include breakpoint($value) {
		@for $i from 1 through 200 {
			@include breakpoint ($large) {
				.font--#{$i}--#{$key} {
					font-size: calc((#{$i}/ 16) * 1.25rem);
				}
			}

			@include breakpoint ($xlarge) {
				.font--#{$i}--#{$key} {
					font-size: calc((#{$i}/ 16) * 1.125rem);
				}
			}

			@include breakpoint ($xxlarge) {
				.font--#{$i}--#{$key} {
					font-size: calc((#{$i}/ 16) * 1rem);
				}
			}
		}
	}
}

// line heights

.line-height--normal {
	@include breakpoint($large) {
		line-height: 1.78;
	}
}

pre,
code {
	font-size: 0.75rem;
	line-height: 1rem;
	margin-bottom: 1rem;
	display: block;
}

/*------------------------------------*\
** TEXT MODIFIERS
\*------------------------------------*/

.light {
	font-weight: $light;
}

.semibold {
	font-weight: $semibold;
}

.demibold {
	font-weight: $demibold;
}

.bold {
	font-weight: $bold;
}

.extrabold {
	font-weight: $extrabold;
}

.black {
	font-weight: $black;
}

.font-style-italic {
	font-style: italic;
}

.font-style-normal {
	font-style: normal;
}

/** colors **/

.color-primary {
	color: $color-primary;
}

.color-secondary {
	color: $color-secondary;
}

.black {
	color: $black;
}

.black--true {
	color: $black--true;
}

.white {
	color: $white;
}

.white--true {
	color: $white--true;
}

.color-gray {
	color: $color-gray;
}

.color-gray--light {
	color: $color-gray--light;
}

.color-gray--ligher {
	color: $color-gray--lighter;
}

.color-gray--lightish {
	color: $color-gray--lightish;
}

// TODO: Dodaj text-- klase za debljinu, velicinu, boju, itd

/*------------------------------------*\
** LABELS
\*------------------------------------*/

.text-label {
	display: block;
	color: $color-gray--light;
	font-weight: $demibold;
	margin-bottom: 0.875rem;
	text-transform: uppercase;
}

/*------------------------------------*\
# HIDE AND SHOW
\*------------------------------------*/

/*------------------------------------*\
# HIDE AND SHOW
\*------------------------------------*/

@each $key,
$value in $breakpoints {
	@include breakpoint($value) {
		@for $i from 1 through 10 {
			.lh--#{$i}--#{$key} {
				line-height: calc((#{$i}/ 16) * 1rem);
			}
		}
	}
}