<div class="convo-chat">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-comment"></i> &nbsp; {{ name }}
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-xs no-border-radius" title="Reset chat" ng-click="resetChat()">
	                <i class="fa fa-refresh"></i>
                </button>
	            <button type="button" class="btn btn-default btn-xs no-border-radius" title="Collapse chatbox" ng-click="collapsed = !collapsed">
                    <i class="fa" ng-class="{ 'fa-chevron-right' : collapsed, 'fa-chevron-down': !collapsed}"></i>
                </button>
            </div>
        </div>
        <div class="panel-collapse" ng-hide="collapsed" id="collapseOne">
            <div class="card-body" id="chat-panel-body">
                <ul class="chat">
                    <li class="clearfix" ng-repeat="message in messages track by $index" >
                        <div ng-if="message.type == 'break'" style="height:6px;">
                        </div>
                        <div ng-if="message.type != 'break'" class="clearfix chat-body" ng-class="{ 'right user-message' : message.source == 'user', 'left system-message' : message.source == 'convo'}">
                            {{ message.text }}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <form ng-submit="formSubmited()">
                    <div class="convo-form-group inline" id="chat">
                        <input ng-model="message" autocomplete="off" id="message" type="text"
                               class="convo-form-input" placeholder="Type your message here..." ng-disabled="isSending()">
                        <button ng-disabled="formDisabled()" class="btn btn-warning btn-sm" id="send" type="submit">
                            Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
