.convoworks {

    .test {
        display: flex;
        flex-flow: row nowrap;
    }
    
    .test .chat {
        display: flex;
        flex-flow: column nowrap;
    
        margin-right: 10px;
    
        flex-basis: 750px;
        flex-shrink: 0;
    }
    
    .test .chat .chatbox {
        margin: 20px 0 10px 0;
    }
    
    .test .debug {
        display: flex;
        flex-flow: column nowrap;
    
        margin-left: 10px;
    
        flex-basis: 60%;
    }
    
    .test .debug .toggle {
        display: flex;
        flex-flow: row nowrap;
    
        margin-bottom: 20px;
        align-items: center;
        width: 100%;
    }
    
    .test .debug .toggle h3 {
        margin: 0 10px 0 0;
    }
    
    .test .debug .toggle > .toggled-indicator {
        float: none;
    }
    .test .debug .toggle > .toggled-indicator:hover {
        cursor: pointer;
    }
    
    .test .debug .panel-debug {
        max-height: calc(100vh - 300px);
        max-width: 700px;
        overflow-y: auto;
    }
}