.convoworks {
    .intents-entities-list {
        .grid-item {
            margin-bottom: 10px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            cursor: pointer;
            transition: 0.22s;
            padding: 10px 12px;
            vertical-align: bottom;
            height: 40px;
        }
        .grid-item:hover {
            border-color: rgba(47, 116, 234, 0.5);
        }
        
        .grid-item > .grid-item-main {
            display: inline-block;
            width: 95%;
            overflow: hidden;
        }
        
        .grid-item > .grid-item-buttons {
            width: 20px;
            float: right;
        }
        .grid-item > .grid-item-buttons button {
            opacity: 0.1;
            transition: 0.22s;
            background: none;
            border: none;
            outline: none;
            box-shadow: none;
        }
        .grid-item:hover > .grid-item-buttons button {
            opacity: .9;
        }
    }
}

