/*------------------------------------*\
** COLORS
\*------------------------------------*/

$bamboo: #a4d867; // http://mera.se/PMS/367C.html

$mine-shaft: #323232;
$asbestos: #7f8c8d;
$concrete: #95a5a6;
$silver: #c0c0c0;
$mercury: #e6e6e6;
$alabaster: #fafafa;
$clouds: #ecf0f1;

$turquoise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$peter-river: #3498db;
$belize-hole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$sun-flower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;

$blue: #007dd7;

$color-primary: #2F74EA;
$color-secondary: #00adbf;
$color-tertiary: $emerald;

$white--true: #ffffff;
$white: #fafafa;
$color-gray--lighter: rgba(0,0,0,0.1);
$color-gray--light: rgba(0,0,0,0.36);
$color-gray--lightish: rgba(26, 26, 26, 0.7);
$color-gray: rgba(0,0,0,0.65);
$color-gray--dark: #292929;
$color-gray--darker: #353535;
$black: #1a1a1a;
$black--true: #000000;

$color-highlight: rgba(244,154,3,0.3);

$color-facebook: #39579a;

$color-info: #2196f3;
$color-success: #4caf50;
$color-warning: #f1c40f;
$color-alert: #d9543e;

/*------------------------------------*\
** BREAKPOINTS
\*------------------------------------*/

$small: 0;
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;

$breakpoints: (small: $small,
	medium: $medium,
	large: $large,
	xlarge: $xlarge,
	xxlarge: $xxlarge,
);

/*------------------------------------*\
# GRID
\*------------------------------------*/

//gutters
$gutter: 1.5rem;
$gutter--small: 1rem;
$gutter--medium: 1.25rem;

$cell: 6.25rem;

//widths
$width: 91.5rem;
$width--small: 19.0625rem;
$width--medium: 35.25rem;

$text-width: 40rem;
$text-width: calc(8 / 12 * 100%);

/*------------------------------------*\
** NAVIGATION
\*------------------------------------*/

$nav-height--desktop: 8.875rem;
$nav-height--company: 5rem;
$nav-height--slim: 5rem;

$nav-height--slim-filters: 9.625rem;

$nav-height--mobile: 5.5rem;

/*------------------------------------*\
** BUTTONS
\*------------------------------------*/

$button-radius: 0.375rem;
$button-padding--lr: 2rem;
$button-padding--tb: 1.25rem;
$button-icon--size: 3rem;

/*------------------------------------*\
** INPUTS
\*------------------------------------*/

$input-radius: 0.5rem;
$input-padding: 1rem 1.75rem;
$input-padding-tb: 1rem;
$input-padding-lr: 1.75rem;
$input-border: 1px solid $color-gray--lighter;

$input-height: 2.5rem;

/*------------------------------------*\
** FONT WEIGHTS
\*------------------------------------*/

$light: 300;
$regular: 400;
$semibold: 500;
$demibold: 600;
$bold: 700;
$extrabold: 900;

/*------------------------------------*\
** FONT CONFIG
\*------------------------------------*/

$base-font-family: 'DM Sans',
sans-serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.6;
$base-font-color: $black;

$heading-font-family: 'DM Sans',
sans-serif;

/*------------------------------------*\
** FONT SIZES
\*------------------------------------*/

$copy-font-sizes: (small: (1rem,
		$base-line-height,
	),
	medium: (1rem,
		$base-line-height,
	),
	large: (1rem,
		$base-line-height,
	),
	xlarge: (1rem,
		$base-line-height,
	),
	xxlarge: (1rem,
		$base-line-height,
	),
);

$h1-font-sizes: (small: (1.75rem,
		1.43,
	),
	medium: (2rem,
		1.43,
	),
	large: (3rem,
		1.33,
	),
);

$h2-font-sizes: (small: (1.375rem,
		1.52,
	),
	medium: (1.5rem,
		1.52,
	),
	large: (2rem,
		1.2,
	),
);

$h3-font-sizes: (small: (1rem,
		1,
	)
);

$h4-font-sizes: (small: (1.125rem,
		1.56,
	),
	medium: (1.25rem,
		1.56,
	),
	large: (1.5rem,
		1,
	),
);

$h5-font-sizes: (small: (1rem,
		1.2,
	),
	medium: (1rem,
		1.2,
	),
	large: (1rem,
		1.2,
	),
	xlarge: (1rem,
		1.2,
	),
	xxlarge: (1rem,
		1.2,
	),
);

$h6-font-sizes: (small: (1rem,
		1.2,
	),
	medium: (1rem,
		1.2,
	),
	large: (1.125rem,
		1.78,
	),
);

/*------------------------------------*\
# Transitions
\*------------------------------------*/

$transition-time: 0.22s;

$input-box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.2);
$input-offset: 0.375rem;

$hover-opacity: 0.75;

$border--gray-lighter: 1px solid $color-gray--lighter;