    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Unsaved changes</h5>
        </div>
        <div class="modal-body">
            You have unsaved changes in your service. Do you want to save them before toggling this package?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="resolve(0)" title="Save and toggle">Save and toggle</button>
            <button type="button" class="btn btn-outline-primary" ng-click="resolve(1)" title="Toggle without saving">Toggle without saving</button>
            <button type="button" class="btn btn-outline-primary" ng-click="resolve(2)" title="Cancel">Cancel</button>
        </div>
    </div><!-- /.modal-content -->
