<div class="wide-panel">
    <div class="card-pane">
        <fieldset>
            <legend>
                <a ui-sref="convoworks-editor-service.configuration" class="back">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                </a>&nbsp;Viber
            </legend>

            <form name="viberPlatformConfigForm" class="form-horizontal" ng-submit="updateConfig(viberPlatformConfigForm.$valid)">
                <!-- DUMMY INPUT -->
                <input type="text" ng-valid="true" style="display: none; pointer-events: none" tabindex="-1">

                <div class="convo-form-group">
                    <div class="button-group">
                        <button ng-click="gotoConfigUrl()" ng-if="config.account_id && config.account_id !== ''" title="Viber Bot Account - Viber Bot Account Info" class="btn btn-primary btn-sm submit">
                            Viber Bot Account - Viber Bot Account Info <i class="glyphicon glyphicon-new-window"></i>
                        </button>
                        <button disabled ng-if="!config.account_id || config.account_id === ''" title="Viber Bot Account - Viber Bot Account Info" class="btn btn-primary btn-sm submit">
                            Viber Bot Account - Viber Bot Account Info <i class="glyphicon glyphicon-new-window"></i>
                        </button>
                    </div>
                </div>

                <div class="convo-form-group">
                    <label for="convo_chat-config-delegateNlp" class="convo-form-label">Intent NLP</label>
                    <select class="convo-form-input" ng-model="config.delegateNlp" id="convo_chat-config-delegateNlp">
                        <option ng-repeat="nlp in getIntentNlps()" value="{{nlp.value}}">{{nlp.label}}</option>
                    </select>

                    <span class="help-block">Will be used to parse input text into intent based result</span>
                </div>

                <div class="convo-form-group">
                    <label for="account_id" class="convo-form-label">Account ID</label>
                    <input type="text" class="convo-form-input" id="account_id" name="account_id" placeholder="" ng-model="config.account_id">
                    <span class="help-block">Required to display the "Test on Viber" button in Test tab</span>
                </div>

                <div class="convo-form-group">
                    <label for="auth_token" class="convo-form-label">Auth Token</label>
                    <input ng-required="true" type="text" class="convo-form-input" id="auth_token" name="auth_token" placeholder="" ng-model="config.auth_token">
                    <b ng-show="viberPlatformConfigForm.auth_token.$invalid && !viberPlatformConfigForm.auth_token.$pristine" class="text-danger">Auth Token is required.</b>
                </div>

                <div class="convo-form-group" ng-model="config.event_types">
                    <label class="convo-form-label">Webhook Event Types</label>
                    <label class="convo-form-label" ng-repeat="event in getWebhookEvents()">
                    <span ng-if="event.mandatory === true">
                        <input  ng-required="true" type="checkbox" ng-click="registerChange(this)" ng-model="event.checked"> {{event.name}}
                    </span>
                        <span ng-if="event.mandatory === false">
                        <input  type="checkbox" ng-click="registerChange(this)" ng-model="event.checked"> {{event.name}}
                    </span>
                    </label>
                </div>

                <div class="convo-form-group" ng-if="!isNew()">
                    <div class="button-group">
                        <button type="submit" title="Save changes" ng-disabled="!isConfigChanged() || viberPlatformConfigForm.$invalid" class="btn btn-primary btn-sm submit">
                            Save Configuration
                        </button>
                        <a ng-click="revertConfig()" title="Revert changes" ng-disabled="!isConfigChanged()" class="cancel">
                            Revert
                        </a>
                    </div>
                </div>

                <div class="convo-form-group" ng-if="isNew()">
                    <div class="button-group">
                        <button type="submit" title="Create Viber configuration" class="btn btn-primary btn-sm submit" ng-disabled="viberPlatformConfigForm.$invalid">
                            Create
                        </button>
                        <a ui-sref="convoworks-editor-service.configuration" title="Revert changes" class="cancel">
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>
