<div class="wide-panel">
    <div class="card-pane">
        <fieldset>
            <legend>
                <a ui-sref="convoworks-editor-service.configuration" class="back">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                </a>&nbsp;Convo Chat
            </legend>
            <form class="form-horizontal" ng-submit="updateConfig()" ng-if="!hideAll()">
                <!-- DUMMY INPUT -->
                <input type="text" ng-valid="true" style="display: none; pointer-events: none" tabindex="-1">

                <div class="convo-form-group">
                    <label for="convo_chat-config-delegateNlp" class="convo-form-label">Intent NLP</label>
                    <select class="convo-form-input" ng-model="config.delegateNlp" id="convo_chat-config-delegateNlp">
                        <option ng-repeat="nlp in getIntentNlps()" value="{{nlp.value}}">{{nlp.label}}</option>
                    </select>
                    <span class="help-block">Will be used to parse input text into intent based result</span>
                </div>

                <div class="convo-form-group" ng-if="!isNew()">
                    <div class="button-group">
                        <button type="submit" title="Save changes" ng-disabled="!isConfigChanged()" class="btn btn-primary btn-sm submit">
                            Save Configuration
                        </button>
                        <a ng-click="revertConfig()" title="Revert changes" ng-disabled="!isConfigChanged()" class="cancel">
                            Revert
                        </a>
                    </div>
                </div>

                <div class="convo-form-group" ng-if="isNew()">
                    <div class="button-group">
                        <button type="submit" title="Create Amazon configuration" class="btn btn-primary btn-sm submit">
                            Create
                        </button>
                        <a ui-sref="convoworks-editor-service.configuration" title="Revert changes" class="cancel">
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>
