<div class="wide-panel">
    <div class="card-pane">
        <fieldset>
            <legend>
                <a ui-sref="convoworks-editor-service.configuration" class="back">
                    <i class="fa fa-arrow-left"></i>
                </a>&nbsp;Amazon Alexa
            </legend>
            <form name="amazonPlatformConfigForm" class="form-horizontal" ng-submit="updateConfig(amazonPlatformConfigForm.$valid)">
                <div class="convo-form-group">
                    <div class="button-group">
                        <button ng-click="gotoConfigUrl()" ng-if="config.app_id && config.app_id !== ''" title="Alexa developer console - Distribution" class="btn btn-sm btn-primary submit">
                            Alexa developer console - ({{service_language}}) Store Preview <i class="fa fa-new-window"></i>
                        </button>
                        <button disabled ng-if="!config.app_id || config.app_id === ''" title="Alexa developer console - Distribution" class="btn btn-sm btn-primary submit">
                            Alexa developer console - Distribution <i class="fa fa-new-window"></i>
                        </button>
                    </div>
                </div>

                <fieldset>
                    <legend>General Configuration:</legend>
                    <!-- DUMMY INPUT -->
                    <input type="text" ng-valid="true" style="display: none; pointer-events: none" tabindex="-1">

                    <div class="convo-form-group" ng-class="{ 'has-error' : !isModeValid()}">
                        <label class="convo-form-label inline">Mode: </label>

                        <div class="radio-group">
                            <input type="radio" ng-model="config.mode" id="config-mode-auto" value="auto">
                            <label class="convo-form-label inline" for="config-mode-auto">Auto</label>
                        </div>

                        <div class="radio-group">
                            <input type="radio" ng-model="config.mode" id="config-mode-manual" value="manual" ng-disabled="hasChangedToAutoMode()">
                            <label class="convo-form-label inline" for="config-mode-manual">Manual</label>
                            <i ng-if="hasChangedToAutoMode()" class="fa fa-question-circle" uib-tooltip="Since you changed from manual to auto mode, you alre no longer able to change it back."></i>
                        </div>

                        <small class="form-text text-muted" ng-if="!isModeValid()"><strong>You have to link account to enable AUTO mode</strong></small>
                        <small class="form-text text-muted" ng-if="config.mode === 'auto'">
                    Automatically propagates changes to Amazon. Requires account to be linked with Amazon</small>
                        <small class="form-text text-muted" ng-if="config.mode === 'manual'">Intents are manually defined on Amazon side</small>
                        <small class="text-danger" ng-if="!hasChangedToAutoMode() && config.mode === 'auto'">You wont be able to change the mode back to manual when creating configuration in auto mode.</small>
                    </div>

                    <div class="convo-form-group" ng-if="config.mode === 'auto'">
                        <label for="invocation" class="convo-form-label">Invocation</label>
                        <input ng-required="true" type="text" ng-pattern='/^[a-zA-Z\s]*$/' ng-minlength="2" ng-maxlength="50" class="convo-form-input" id="invocation" name="invocation" placeholder="" ng-model="config.invocation">
                        <b ng-show="amazonPlatformConfigForm.invocation.$error.minlength" class="text-danger">Public Name should contain at least 2 characters</b>
                        <b ng-show="amazonPlatformConfigForm.invocation.$error.maxlength" class="text-danger">Public Name shouldn't contain more then 50 characters.</b>
                        <b ng-show="amazonPlatformConfigForm.invocation.$error.pattern" class="text-danger">Only letters and spaces are allowed.</b>
                        <b ng-show="amazonPlatformConfigForm.invocation.$invalid && !amazonPlatformConfigForm.invocation.$pristine" class="text-danger">Invocation is required.</b>
                    </div>

                    <div class="convo-form-group">
                        <label for="app_id" class="convo-form-label">Service ID</label>
                        <input ng-if="config.mode === 'manual' && isNew()" type="text" class="convo-form-input" id="app_id" name="app_id" placeholder="" ng-model="config.app_id" ng-focus="$event.target.select()">
                        <input ng-if="config.mode === 'manual' && !isNew()" required type="text" class="convo-form-input" id="app_id" name="app_id" placeholder="" ng-model="config.app_id" ng-focus="$event.target.select()">
                        <input ng-if="config.mode === 'auto' && isNew()" type="text" class="convo-form-input" id="app_id" name="app_id" placeholder="" ng-model="config.app_id">
                        <input ng-if="config.mode === 'auto' && !isNew()" required disabled type="text" class="convo-form-input" id="app_id" name="app_id" placeholder="" ng-model="config.app_id">
                        <small class="form-text text-muted" ng-if="config.mode === 'auto' && isNew()">
                        If you already created the service, please enter the skill-ID found on Amazon.
                        If you leave it blank, it will automatically create a new service on Amazon side</small>
                        <small class="form-text text-muted">Required to display the "Test on Amazon" button in Test tab</small>
                        <b ng-show="amazonPlatformConfigForm.app_id.$invalid && !amazonPlatformConfigForm.app_id.$pristine" class="text-danger">Service ID is required.</b>
                    </div>

                    <div class="convo-form-group" ng-if="config.mode === 'auto'">
                        <label class="convo-form-label" for="config-interaction-model-sensitivity">Interaction Model Sensitivity</label>
                        <select ng-model="config.interaction_model_sensitivity" class="convo-form-input" id="config-interaction-model-sensitivity">
                            <option ng-repeat="(index, sensitivity)  in sensitivities track by index"
                                    value="{{ sensitivity.value }}"> {{ sensitivity.name }}
                            </option>
                        </select>
                    </div>

                    <div class="convo-form-group" ng-if="config.mode === 'auto'">
                        <label class="convo-form-label" for="config-endpoint-ssl-certificate-type">Endpoint SSL Certificate Type</label>
                        <select ng-model="config.endpoint_ssl_certificate_type" class="convo-form-input" id="config-endpoint-ssl-certificate-type">
                            <option ng-repeat="(index, endpointCertificateType)  in endpointCertificateTypes track by index"
                                    value="{{ endpointCertificateType.value }}"> {{ endpointCertificateType.description }}
                            </option>
                        </select>
                    </div>

                    <div class="convo-form-group" ng-if="config.mode === 'auto' && config.endpoint_ssl_certificate_type === 'SelfSigned'">
                        <label for="dialogflow-config-agent-avatar" class="convo-form-label">Self Signed Certificate</label>
                        <div class="input-group">
                            <input type="file" accept=".pem" class="form-control" id="dialogflow-config-agent-avatar"
                                   ngf-drop="onFileUpload($file, 'certificate')" ng-model="config.self_signed_certificate"
                                   ngf-select="onFileUpload($file, 'certificate')" ngf-multiple="false">
                            <span class="input-group-append">
                                <button ng-click="gotoLearnHowToCreateSelfSignedCertificate()" title="Learn how to create a self signed certificate" class="btn btn-sm btn-outline-primary submit rounded-right">
                                    Learn how to create a self signed certificate <i class="fa fa-new-window"></i>
                                </button>
                            </span>
                        </div>
                        <button ng-if="config.self_signed_certificate" ng-click="toggleShowCertificate()" class="btn btn-outline-primary" type="button"> {{showCertificate === true ? 'Hide Uploaded Certificate' : 'Show Uploaded Certificate'}}</button>
                        <div ng-if="config.self_signed_certificate && showCertificate">
                            <span>Uploaded SSL Certificate Media ID:</span>
                            <textarea ng-disabled="true" ng-value="config.self_signed_certificate" class="form-control" id="self_signed_certificate" rows="10"></textarea>
                        </div>
                    </div>

                    <div class="convo-form-group">
                        <label class="convo-form-label" for="config-auto-display">Auto Display</label>
                        <div class="checkbox">
                            <label for="config-auto-display">
                                <input type="checkbox" ng-model="config.auto_display" id="config-auto-display"/>
                                Automatically displays text in a card view on devices with a display
                            </label>
                        </div>
                    </div>
                </fieldset>
                <fieldset ng-if="config.mode === 'auto'">
                    <legend>Amazon Alexa Skill Account Linking: </legend>
                    <div class="convo-form-group" ng-if="config.app_id && !isNew()">
                        <div class="btn-group icon-button publish-group" uib-dropdown>
                            <button type="button" class="btn btn-outline-primary btn-xs dropdown-default border-radius-8" ng-click="getSkillAccountLinkingInformation()">
                                <span ng-class="{ 'fa fa-play': !gettingSkillAccountLinkingInformation, 'fa fa-cog spinning': gettingSkillAccountLinkingInformation }"></span>
                                {{ gettingSkillAccountLinkingInformation ? 'Getting existing Account Linking Information of existing Alexa Skill...'  : 'Get existing Account Linking Information of existing Alexa Skill' }}
                            </button>
                        </div>
                    </div>
                    <div class="convo-form-group">
                        <label class="convo-form-label" for="config-enable-account-linking">Enable Account Linking</label>
                        <div class="checkbox">
                            <label for="config-enable-account-linking">
                                <input type="checkbox" ng-model="config.enable_account_linking" id="config-enable-account-linking"/>
                                Enable Account Linking for Alexa Skill
                            </label>
                        </div>
                    </div>
                    <div class="convo-form-group" ng-if="config.enable_account_linking">
                        <label class="convo-form-label" for="config-account-linking-mode">Account Linking Mode</label>
                        <select ng-model="config.account_linking_mode" ng-change="onAccountLinkingOfferChange(config.account_linking_mode)" class="convo-form-input" id="config-account-linking-mode">
                            <option ng-repeat="(index, account_linking_mode)  in account_linking_modes track by index"
                                    value="{{ account_linking_mode.id }}"> {{ account_linking_mode.label }}
                            </option>
                        </select>
                    </div>
                    <div class="convo-form-group" ng-if="config.enable_account_linking">
                        <label class="convo-form-label" for="config-enable-account-linking">Skip Account Linking on Skill Enablement</label>
                        <div class="checkbox">
                            <label for="config-skip-on-enablement">
                                <input type="checkbox" ng-model="config.account_linking_config.skip_on_enablement" id="config-skip-on-enablement"/>
                                Allow users to enable skill without account linking (Recommended).
                            </label>
                        </div>
                    </div>
                    <div class="convo-form-group" ng-if="config.enable_account_linking && config.account_linking_mode === 'something_else'">
                        <label for="account_linking_config_authorization_url" class="convo-form-label">Your Web Authorization URI * <i class="fa fa-question-circle" uib-tooltip="The URI where customers will be redirected in the companion app to enter login credentials."></i></label>
                        <input ng-required="true" type="url" class="convo-form-input" id="account_linking_config_authorization_url" name="account_linking_config_authorization_url" placeholder="" ng-model="config.account_linking_config.authorization_url">
                        <b ng-show="amazonPlatformConfigForm.account_linking_config_authorization_url.$invalid && !amazonPlatformConfigForm.account_linking_config_authorization_url.$pristine" class="text-danger">Web Authorization URI is required.</b>
                    </div>
                    <div class="convo-form-group" ng-if="config.enable_account_linking && config.account_linking_mode !== 'something_else'">
                        <p>Your Web Authorization URI: <b>{{config.account_linking_config.authorization_url}}</b></p>
                    </div>
                    <div class="convo-form-group" ng-if="config.enable_account_linking && config.account_linking_mode === 'something_else'">
                        <label for="account_linking_config_access_token_url" class="convo-form-label">Access Token URI * <i class="fa fa-question-circle" uib-tooltip="This URI will be used for both access token and token refresh requests."></i></label>
                        <input ng-required="true" type="url" class="convo-form-input" id="account_linking_config_access_token_url" name="account_linking_config_access_token_url" placeholder="" ng-model="config.account_linking_config.access_token_url">
                        <b ng-show="amazonPlatformConfigForm.account_linking_config_access_token_url.$invalid && !amazonPlatformConfigForm.account_linking_config_access_token_url.$pristine" class="text-danger">Access Token URI is required.</b>
                    </div>
                    <div class="convo-form-group" ng-if="config.enable_account_linking && config.account_linking_mode !== 'something_else'">
                        <p>Your Access Token URI: <b>{{config.account_linking_config.access_token_url}}</b></p>
                    </div>
                    <div class="convo-form-group" ng-if="config.account_linking_mode === 'amazon'">
                        <div class="button-group">
                            <button ng-click="gotoLwaConsoleUrl()" ng-if="config.account_linking_mode === 'amazon'" title="Get your Client ID and Client Secret from your Login with Amazon Console" class="btn btn-sm btn-primary submit">
                                Go to your Login with Amazon Console get the Client ID and Client Secret <i class="fa fa-new-window"></i>
                            </button>
                        </div>
                    </div>
                    <div class="convo-form-group" ng-if="config.enable_account_linking">
                        <label for="account_linking_config_client_id" class="convo-form-label">Your Client ID * <i class="fa fa-question-circle" uib-tooltip="Unique public string used to identify the client requesting for authentication."></i></label>
                        <input ng-required="true" type="text" class="convo-form-input" id="account_linking_config_client_id" name="account_linking_config_client_id" placeholder="" ng-model="config.account_linking_config.client_id">
                        <b ng-show="amazonPlatformConfigForm.account_linking_config_client_id.$invalid && !amazonPlatformConfigForm.account_linking_config_client_id.$pristine" class="text-danger">Client ID is required.</b>
                    </div>
                    <div class="convo-form-group" ng-if="config.enable_account_linking">
                        <label for="account_linking_config_client_secret" class="convo-form-label">Your Secret * <i class="fa fa-question-circle" uib-tooltip="A credential you provide that lets the Alexa service authenticate with the Access Token URI. This is combined with the Client ID to identify the request as coming from Alexa."></i></label>
                        <div class="input-group">
                            <input ng-required="true" type="{{secretFieldType}}" class="form-control" id="account_linking_config_client_secret" name="account_linking_config_client_secret" placeholder="" ng-model="config.account_linking_config.client_secret">
                            <div class="input-group-append">
                                <button ng-click="toggleShowSecret()" class="btn btn-outline-primary rounded-right" type="button"> {{secretFieldType === 'password' ? 'Show Secret' : 'Hide Secret'}}</button>
                            </div>
                        </div>

                        <b ng-show="amazonPlatformConfigForm.account_linking_config_client_secret.$invalid" class="text-danger">Secret is required.</b>
                    </div>
                    <div class="convo-form-group" ng-if="config.enable_account_linking && config.account_linking_mode !== 'installation'">
                        <label for="account_linking_config_scopes" class="convo-form-label">Scope <i class="fa fa-question-circle" uib-tooltip="The list of permissions to request from the skill user. You can provide up to 15 scopes. Separate list items with a semicolon (;)"></i></label>
                        <div ng-if="config.account_linking_mode === 'amazon'">
                            <span>Scopes can be the following:</span>
                            <div class="form-check form-check-inline" ng-repeat="amazonSkillAccountLinkingScope in getAmazonSkillAccountLinkingScopes()">
                                <input class="form-check-input" type="checkbox" ng-click="registerChange(this)" id="{{amazonSkillAccountLinkingScope.name}}" value="profile" ng-model="amazonSkillAccountLinkingScope.checked">
                                <label class="form-check-label" for="{{amazonSkillAccountLinkingScope.name}}"><b>{{amazonSkillAccountLinkingScope.name}}</b></label>
                            </div>
                            <b ng-show="!isScopesValid()" class="text-danger">You have to select at least one scope.</b>
                        </div>
                        <input ng-if="config.enable_account_linking && config.account_linking_mode !== 'installation' && config.account_linking_mode !== 'amazon'" type="text" class="convo-form-input" id="account_linking_config_scopes" name="account_linking_config_scopes" placeholder="" ng-model="config.account_linking_config.scopes">
                    </div>
                    <div class="convo-form-group" ng-if="config.enable_account_linking && config.account_linking_mode !== 'amazon' && config.account_linking_mode !== 'installation'">
                        <label for="account_linking_config_client_domains" class="convo-form-label">Domain List <i class="fa fa-question-circle" uib-tooltip="The list of domains that the authorization URL will fetch content from. You can provide up to 30 domains. Separate list items with a semicolon (;)"></i></label>
                        <input type="text" class="convo-form-input" id="account_linking_config_client_domains" name="account_linking_config_domains" placeholder="" ng-model="config.account_linking_config.domains">
                    </div>
                </fieldset>
                <fieldset ng-if="config.mode === 'auto'">
                    <legend>Distribution Information: </legend>
                    <div class="convo-form-group" ng-if="config.app_id && !isNew()">
                        <div class="btn-group icon-button publish-group" uib-dropdown>
                            <button type="button" class="btn btn-outline-primary btn-xs dropdown-default border-radius-8" ng-click="getSkillManifest()">
                                <span ng-class="{ 'fa fa-play': !gettingSkillManifest, 'fa fa-cog spinning': gettingSkillManifest }"></span>
                                {{ gettingSkillManifest ? 'Getting existing Distribution Information of existing Alexa Skill in ' + default_locale + "..."  : 'Get existing Distribution Information of existing Alexa Skill in ' + default_locale }}
                            </button>
                        </div>
                    </div>
                    <div class="convo-form-group" ng-if="config.mode === 'auto'">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            Edit Skill Store Preview for <span ng-repeat="(index, supported_locale) in supported_locales">  {{index < supported_locales.length - 1 ? supported_locale + ", " : supported_locale}}</span> {{supported_locales.length > 1 ? "stores" : "store"}}
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="convo-form-group" ng-if="config.mode === 'auto'">
                                            <label for="skill_preview_in_store_public_name" class="convo-form-label">Public Name * <i class="fa fa-question-circle" uib-tooltip="The name of the skill that will be displayed to customers in the Alexa app. It can be different from your invocation name and must be between 2-50 characters."></i></label>
                                            <input ng-required="true" type="text" ng-pattern='/^[a-zA-Z\s]*$/' ng-minlength="2" ng-maxlength="50" class="convo-form-input" id="skill_preview_in_store_public_name" name="skill_preview_in_store_public_name" placeholder="" ng-model="config.skill_preview_in_store.public_name">
                                            <span class="help" ng-class="{'error': config.skill_preview_in_store.public_name.length > 50}">
                                                {{(config.skill_preview_in_store.public_name && config.skill_preview_in_store.public_name.length) ? config.skill_preview_in_store.public_name.length : 0}}/50 characters</span>
                                            <b ng-show="amazonPlatformConfigForm.skill_preview_in_store_public_name.$error.minlength" class="text-danger">Public Name should contain at least 2 characters</b>
                                            <b ng-show="amazonPlatformConfigForm.skill_preview_in_store_public_name.$error.maxlength" class="text-danger">Public Name shouldn't contain more then 50 characters.</b>
                                            <b ng-show="amazonPlatformConfigForm.skill_preview_in_store_public_name.$error.pattern" class="text-danger">Only letters and spaces are allowed.</b>
                                            <b ng-show="amazonPlatformConfigForm.skill_preview_in_store_public_name.$invalid && !amazonPlatformConfigForm.skill_preview_in_store_public_name.$pristine" class="text-danger">Public Name is required.</b>
                                        </div>

                                        <div class="convo-form-group" ng-if="config.mode === 'auto'">
                                            <label for="skill_preview_in_store_one_sentence_description" class="convo-form-label">One Sentence Description * <i class="fa fa-question-circle" uib-tooltip="A quick at-a-glance sentence that describes the skill or what customers can do with it. This will display in the Alexa app and may be spoken aloud by Alexa."></i></label>
                                            <input ng-required="true" ng-minlength="1" ng-maxlength="160" type="text" class="convo-form-input" id="skill_preview_in_store_one_sentence_description" name="skill_preview_in_store_one_sentence_description" placeholder="" ng-model="config.skill_preview_in_store.one_sentence_description">
                                            <span class="help" ng-class="{'error': config.skill_preview_in_store.one_sentence_description.length > 160}">
                                                {{(config.skill_preview_in_store.one_sentence_description && config.skill_preview_in_store.one_sentence_description.length) ? config.skill_preview_in_store.one_sentence_description.length : 0}}/160 characters</span>
                                            <b ng-show="amazonPlatformConfigForm.skill_preview_in_store_one_sentence_description.$error.minlength" class="text-danger">One Sentence Description should contain at least 1 character</b>
                                            <b ng-show="amazonPlatformConfigForm.skill_preview_in_store_one_sentence_description.$error.maxlength" class="text-danger">One Sentence Description shouldn't contain more then 160 characters.</b>
                                            <b ng-show="amazonPlatformConfigForm.skill_preview_in_store_one_sentence_description.$invalid && !amazonPlatformConfigForm.skill_preview_in_store_one_sentence_description.$pristine" class="text-danger">One Sentence Description is required.</b>
                                        </div>

                                        <div class="convo-form-group" ng-if="config.mode === 'auto'">
                                            <label for="skill_preview_in_store_detailed_description" class="convo-form-label">Detailed Description * <i class="fa fa-question-circle" uib-tooltip="A more comprehensive description of this skill. Include information about any prerequisites like hardware or account requirements and detailed steps for the customer to get started. This description displays to customers on the skill detail card in the Alexa app. For Flash Briefing skills, list the feeds offered within the skill"></i></label>
                                            <textarea ng-required="true" ng-minlength="1" ng-maxlength="4000" type="text" class="convo-form-input" id="skill_preview_in_store_detailed_description" name="skill_preview_in_store_detailed_description" placeholder="" ng-model="config.skill_preview_in_store.detailed_description"></textarea>
                                            <span class="help" ng-class="{'error': config.skill_preview_in_store.detailed_description.length > 4000}">
                                                {{(config.skill_preview_in_store.detailed_description && config.skill_preview_in_store.detailed_description.length) ? config.skill_preview_in_store.detailed_description.length : 0}}/4000 characters</span>
                                            <b ng-show="amazonPlatformConfigForm.skill_preview_in_store_detailed_description.$error.minlength" class="text-danger">Detailed Description should contain at least 1 character</b>
                                            <b ng-show="amazonPlatformConfigForm.skill_preview_in_store_detailed_description.$error.maxlength" class="text-danger">Detailed Description shouldn't contain more then 4000 characters.</b>
                                            <b ng-show="amazonPlatformConfigForm.skill_preview_in_store_detailed_description.$invalid && !amazonPlatformConfigForm.skill_preview_in_store_detailed_description.$pristine" class="text-danger">Detailed Description is required.</b>
                                        </div>

                                        <div class="convo-form-group" ng-if="config.mode === 'auto'">
                                            <label for="skill_preview_in_store_whats_new" class="convo-form-label">What's New? <i class="fa fa-question-circle" uib-tooltip="Use this field to let customers know what new feature(s) this version introduces or what issues are resolved with this version. If this is your first version you can leave this field blank."></i></label>
                                            <textarea class="convo-form-input" ng-maxlength="2000" id="skill_preview_in_store_whats_new" name="skill_preview_in_store_whats_new" placeholder="" ng-model="config.skill_preview_in_store.whats_new"></textarea>
                                            <span class="help" ng-class="{'error': config.skill_preview_in_store.whats_new.length > 4000}">
                                                {{(config.skill_preview_in_store.whats_new && config.skill_preview_in_store.whats_new.length) ? config.skill_preview_in_store.whats_new.length : 0}}/4000 characters</span>
                                            <b ng-show="amazonPlatformConfigForm.skill_preview_in_store_whats_new.$error.maxlength" class="text-danger">Detailed Description shouldn't contain more then 4000 characters.</b>
                                        </div>

                                        <div class="convo-form-group" ng-if="config.mode === 'auto'">
                                            <label for="skill_preview_in_store_example_phrases" class="convo-form-label">Example Phrases * <i class="fa fa-question-circle" uib-tooltip="Sample utterances that will appear on the skill detail card in the Alexa App. These phrases will help users get started and enable them to access your skill’s core functionality. Separate list items with a semicolon (;)"></i></label>
                                            <input ng-required="true" type="text" class="convo-form-input" id="skill_preview_in_store_example_phrases" name="skill_preview_in_store_example_phrases" placeholder="" ng-model="config.skill_preview_in_store.example_phrases">
                                            <b ng-show="amazonPlatformConfigForm.skill_preview_in_store_example_phrases.$invalid && !amazonPlatformConfigForm.skill_preview_in_store_example_phrases.$pristine" class="text-danger">At least one Example Phrase is required.</b>
                                        </div>

                                        <div class="convo-form-group">
                                            <label class="convo-form-label" for="upload_own_skill_icons">Upload own skill icons? Otherwise, our default Alexa Skill Icons will be propagated instead.</label>
                                            <div class="checkbox">
                                                <label for="upload_own_skill_icons">
                                                    <input ng-click="toggleShouldUploadOwnSkillIcons()" type="checkbox" ng-model="config.upload_own_skill_icons" id="upload_own_skill_icons"/>
                                                    Upload your own Alexa Skill Icons.
                                                </label>
                                            </div>
                                        </div>

                                        <div class="convo-form-group" ng-if="config.mode === 'auto' && config.upload_own_skill_icons === true">
                                            <label for="skill_preview_in_store_small_skill_icon" class="convo-form-label">Small Icon</label>
                                            <input type="file" accept="image/png" class="convo-form-input" id="skill_preview_in_store_small_skill_icon"
                                                   ngf-drop="onFileUpload($file, 'small_skill_icon')" ng-model="config.skill_preview_in_store.small_skill_icon"
                                                   ngf-select="onFileUpload($file, 'small_skill_icon')" ngf-multiple="false">
                                            <img ng-if="config.skill_preview_in_store.small_skill_icon !== ''" ng-src="{{ getSkillIcon('small_skill_icon') }}" id="small_skill_icon" width="108" height="108">
                                        </div>

                                        <div class="convo-form-group" ng-if="config.mode === 'auto' && config.upload_own_skill_icons === true">
                                            <label for="skill_preview_in_store_large_skill_icon" class="convo-form-label">Large Icon</label>
                                            <input type="file" accept="image/png" class="convo-form-input" id="skill_preview_in_store_large_skill_icon"
                                                   ngf-drop="onFileUpload($file, 'large_skill_icon')" ng-model="config.skill_preview_in_store.large_skill_icon"
                                                   ngf-select="onFileUpload($file, 'large_skill_icon')" ngf-multiple="false">
                                            <img ng-if="config.skill_preview_in_store.large_skill_icon !== ''" ng-src="{{ getSkillIcon('large_skill_icon') }}" id="large_skill_icon" width="108" height="108">
                                        </div>

                                        <div class="convo-form-group" ng-if="config.mode === 'auto'">
                                            <label class="convo-form-label" for="skill_preview_in_store_category">Category <i class="fa fa-question-circle" uib-tooltip="The category that best describes your skill. This helps customers find your skill quickly and easily."></i></label>
                                            <select ng-model="config.skill_preview_in_store.category" ng-change="onCategoryChange()" class="convo-form-input" id="skill_preview_in_store_category">
                                                <option ng-repeat="(index, category)  in categories track by index"
                                                        value="{{ category.value }}"> {{ category.description }}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="convo-form-group" ng-if="config.mode === 'auto'">
                                            <label for="skill_preview_in_store_keywords" class="convo-form-label">Keywords <i class="fa fa-question-circle" uib-tooltip="Simple search words that relate to or describe this skill. This helps customers find the skill quickly and easily. Use spaces or commas in between each search term"></i></label>
                                            <input ng-change="validateKeywords()" type="text" class="convo-form-input" id="skill_preview_in_store_keywords" name="skill_preview_in_store_keywords" placeholder="" ng-model="config.skill_preview_in_store.keywords">
                                            <span class="help" ng-class="{'error': keywordsLength > 30}">{{(keywordsLength) ? keywordsLength : 0}}/30 keywords</span>
                                            <b ng-show="amazonPlatformConfigForm.skill_preview_in_store_keywords.$invalid && !amazonPlatformConfigForm.skill_preview_in_store_keywords.$pristine" class="text-danger">Keywords field shouldn't contain more then 30 keywords.</b>
                                        </div>

                                        <div class="convo-form-group" ng-if="config.mode === 'auto'">
                                            <label for="skill_preview_in_store_privacy_policy_url" class="convo-form-label">Privacy Policy URL <i class="fa fa-question-circle" uib-tooltip="Link to the privacy policy that applies to this skill."></i></label>
                                            <div class="input-group">
                                                <input type="url" class="form-control" id="skill_preview_in_store_privacy_policy_url" name="skill_preview_in_store_privacy_policy_url" placeholder="" ng-model="config.skill_preview_in_store.privacy_policy_url">
                                                <span class="input-group-append">
                                                    <button ng-click="getPrivacyPolicyUrl()" class="btn btn-outline-primary rounded-right" type="button">Get Privacy Policy URL.</button>
                                                </span>
                                            </div>
                                            <b ng-show="amazonPlatformConfigForm.skill_preview_in_store_privacy_policy_url.$invalid && !amazonPlatformConfigForm.skill_preview_in_store_privacy_policy_url.$pristine" class="text-danger">This must be a valid url.</b>
                                            <b ng-show="config.skill_preview_in_store.privacy_policy_url.length < 1" class="text-danger">Skill Validation in Certification will fail if no Privacy Policy URL is present.</b>
                                        </div>

                                        <div class="convo-form-group" ng-if="config.mode === 'auto'">
                                            <label for="skill_preview_in_store_terms_of_use_url" class="convo-form-label">Terms of Use URL <i class="fa fa-question-circle" uib-tooltip="Link to the terms of use document for this skill."></i></label>
                                            <div class="input-group">
                                                <input type="url" class="form-control" id="skill_preview_in_store_terms_of_use_url" name="skill_preview_in_store_terms_of_use_url" placeholder="" ng-model="config.skill_preview_in_store.terms_of_use_url">
                                                <span class="input-group-append">
                                                    <button ng-click="getTermsOfUseUrl()" class="btn btn-outline-primary rounded-right" type="button">Get Terms of Use URL.</button>
                                                </span>
                                            </div>
                                            <b ng-show="amazonPlatformConfigForm.skill_preview_in_store_terms_of_use_url.$invalid && !amazonPlatformConfigForm.skill_preview_in_store_terms_of_use_url.$pristine" class="text-danger">This must be an valid url.</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Edit Privacy and Compliance
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="convo-form-group" ng-if="config.mode === 'auto'">
                                            <label for="privacy_and_compliance_allows_purchases" class="convo-form-label">Does this skill allow users to make purchases or spend real money? *</label>
                                            <div id="privacy_and_compliance_allows_purchases">
                                                <div>
                                                    <input type="radio" ng-model="config.privacy_and_compliance.allows_purchases" id="allows_purchases_yes" ng-value="true">
                                                    <label class="convo-form-label inline" for="allows_purchases_yes">Yes</label>
                                                </div>
                                                <div>
                                                    <input type="radio" ng-model="config.privacy_and_compliance.allows_purchases" id="allows_purchases_no" ng-value="false">
                                                    <label class="convo-form-label inline" for="allows_purchases_no">No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="convo-form-group" ng-if="config.mode === 'auto'">
                                            <label for="privacy_and_compliance_uses_personal_info" class="convo-form-label">Does this Alexa skill collect users' personal information? * <i class="fa fa-question-circle" uib-tooltip="For example: anything that can identify the user such as name, email, password, phone number, birth date, etc."></i></label>
                                            <div id="privacy_and_compliance_uses_personal_info">
                                                <div>
                                                    <input type="radio" ng-model="config.privacy_and_compliance.uses_personal_info" id="uses_personal_info_yes" ng-value="true">
                                                    <label class="convo-form-label inline" for="uses_personal_info_yes">Yes</label>
                                                </div>
                                                <div>
                                                    <input type="radio" ng-model="config.privacy_and_compliance.uses_personal_info" id="uses_personal_info_no" ng-value="false">
                                                    <label class="convo-form-label inline" for="uses_personal_info_no">No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="convo-form-group" ng-if="config.mode === 'auto'">
                                            <label for="privacy_and_compliance_is_child_directed" class="convo-form-label">
                                                Is this skill directed to or does it target children under the age of 13? *
                                                <i class="fa fa-question-circle"
                                                   uib-tooltip="Please indicate if this skill is directed to children under the age of 13 (for the United States, as determined under the Children's Online Privacy Protection Act (COPPA)). Not sure? Learn More.">
                                                </i>
                                            </label>
                                            <div id="privacy_and_compliance_is_child_directed">
                                                <div>
                                                    <input type="radio" ng-model="config.privacy_and_compliance.is_child_directed" id="is_child_directed_yes" ng-value="true">
                                                    <label class="convo-form-label inline" for="is_child_directed_yes">Yes</label>
                                                </div>
                                                <div>
                                                    <input type="radio" ng-model="config.privacy_and_compliance.is_child_directed" id="is_child_directed_no" ng-value="false">
                                                    <label class="convo-form-label inline" for="is_child_directed_no">No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="convo-form-group" ng-if="config.mode === 'auto'">
                                            <label for="privacy_and_compliance_contains_ads" class="convo-form-label">Does this skill contain advertising? * </label>
                                            <div id="privacy_and_compliance_contains_ads" >
                                                <div>
                                                    <input type="radio" ng-model="config.privacy_and_compliance.contains_ads" id="contains_ads_yes" ng-value="true">
                                                    <label class="convo-form-label inline" for="contains_ads_yes">Yes</label>
                                                </div>
                                                <div>
                                                    <input type="radio" ng-model="config.privacy_and_compliance.contains_ads" id="contains_ads_no" ng-value="false">
                                                    <label class="convo-form-label inline" for="contains_ads_no">No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="convo-form-group">
                                            <label class="convo-form-label" for="config-auto-display">Export Compliance * </label>
                                            <div class="checkbox">
                                                <label for="privacy_and_compliance_contains_ads_is_export_compliant">
                                                    <input type="checkbox" ng-model="config.privacy_and_compliance.is_export_compliant" id="privacy_and_compliance_contains_ads_is_export_compliant"/>
                                                    I certify that this Alexa skill may be imported to and exported from the United States and all other countries and regions in which we operate our program or in which you've authorized sales to end users (without the need for us to obtain any license or clearance or take any other action) and is in full compliance with all applicable laws and regulations governing imports and exports, including those applicable to software that makes use of encryption technology.
                                                </label>
                                            </div>
                                        </div>
                                        <div class="convo-form-group" ng-if="config.mode === 'auto'">
                                            <label for="privacy_and_compliance_testing_instructions" class="convo-form-label">Testing Instructions * <i class="fa fa-question-circle" uib-tooltip="Please detail any special instructions our team will need in order to test your skill including account credentials (e.g., username and password) or hardware requirements. If your skill requests permissions, include ways to test these permissions requests. This information is NOT displayed to customers. If your skill makes legitimate use of trademarks, intellectual property, or brands, you must clearly indicate that you have permission to use these, and provide proof, when you submit your skill for certification. Please include external links to documentation evidencing your right to use the intellectual property (such as proof of trademark registration or a license agreement with the rights owner) and contact information, if needed. "></i></label>
                                            <textarea ng-required="true" type="text" class="convo-form-input" id="privacy_and_compliance_testing_instructions" name="privacy_and_compliance_testing_instructions" placeholder="" ng-model="config.privacy_and_compliance.testing_instructions"></textarea>
                                            <b ng-show="amazonPlatformConfigForm.privacy_and_compliance_testing_instructions.$invalid && !amazonPlatformConfigForm.privacy_and_compliance_testing_instructions.$pristine" class="text-danger">Detailed Description is required.</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Edit Availability
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="convo-form-group">
                                            <label class="convo-form-label" for="config-auto-display">Opt in to automated locale distribution </label>
                                            <div class="checkbox">
                                                <label for="availability_automatic_distribution">
                                                    <input type="checkbox" ng-model="config.availability.automatic_distribution" id="availability_automatic_distribution"/>
                                                    When you submit your skill, Amazon will assess its eligibility for distribution to all locales of a given language. If eligible, your skill will be made live in the Alexa Skills Store associated with each additional locale. Once a skill is live for a particular locale, the skill can only be removed by suppressing the entire skill. Please remember to update your privacy policy and terms of use to be applicable globally. To learn more, read the technical documentation <a href="https://developer.amazon.com/en-US/docs/alexa/devconsole/launch-your-skill.html#opt-in-to-automated-locale-distribution" target="_blank">here</a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="convo-form-group" ng-if="config.mode === 'auto' && config.availability.automatic_distribution">
                                            <p>Amazon will use the source locale <b>({{default_locale}})</b> to distribute your skill to additional locales <b>(<span ng-repeat="(index, supported_locale) in supported_locales">{{index < supported_locales.length - 1 ? supported_locale + ", " : supported_locale}}</span>)</b> in the same language.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="convo-form-group" ng-if="!isNew()">
                    <div class="button-group">
                        <button type="submit" title="Save changes" ng-disabled="!isScopesValid() || !isConfigChanged() || amazonPlatformConfigForm.$invalid " class="btn btn-primary btn-sm submit">
                            Save Configuration
                        </button>
                        <a ng-click="revertConfig()" title="Revert changes" ng-disabled="!isConfigChanged()" class="cancel">
                            Revert
                        </a>
                    </div>
                </div>

                <div class="convo-form-group" ng-if="isNew()">
                    <div class="button-group">
                        <button type="submit" title="Create Amazon configuration" class="btn btn-primary btn-sm submit" ng-disabled="!isScopesValid() || !isModeValid() || amazonPlatformConfigForm.$invalid">
                            Create
                        </button>
                        <a ui-sref="convoworks-editor-service.configuration" title="Revert changes" class="cancel">
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>
